## <center> Average Departure Delay <center>

In [28]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

* Data is from California for June 2025

In [29]:
# Import dataset
df = pd.read_csv("C:/Users/uyen/Desktop/d602/data/T_ONTIME_REPORTING.csv")
df.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,ARR_DELAY
0,2025,6,1,7,ABQ,BUR,1725,1739.0,14.0,1830,1835.0,5.0
1,2025,6,1,7,ABQ,LAX,600,554.0,-6.0,713,649.0,-24.0
2,2025,6,1,7,ABQ,LAX,650,650.0,0.0,800,750.0,-10.0
3,2025,6,1,7,ABQ,LAX,1154,1244.0,50.0,1310,1358.0,48.0
4,2025,6,1,7,ABQ,LAX,1314,1315.0,1.0,1427,1451.0,24.0

In [30]:
# Lowercase all columns
columns = [i.lower() for i in df.columns]
df.columns = columns
df.head()

,year,month,day_of_month,day_of_week,origin,dest,crs_dep_time,dep_time,dep_delay,crs_arr_time,arr_time,arr_delay
0,2025,6,1,7,ABQ,BUR,1725,1739.0,14.0,1830,1835.0,5.0
1,2025,6,1,7,ABQ,LAX,600,554.0,-6.0,713,649.0,-24.0
2,2025,6,1,7,ABQ,LAX,650,650.0,0.0,800,750.0,-10.0
3,2025,6,1,7,ABQ,LAX,1154,1244.0,50.0,1310,1358.0,48.0
4,2025,6,1,7,ABQ,LAX,1314,1315.0,1.0,1427,1451.0,24.0

In [32]:
# Dictionary of columns
"""
* year = year
* month = month
* day_of_month = day of month
* day_of_week = 
    * 1 - monday
    * 2 - tuesday
    * 3 - wed
    * 4 - thurs
    * 5 - fri
    * 6 - sat
    * 7 - sun
    * 9 - unknown
* origin = origin airport
* dest = destination airport
* crs_dep_time = scheduled, planned time a flight is set to leave the gate
* dep_time = actual departure time
* dep_delay = Difference in minutes between scheduled and actual departure time
* crs_arr_time = scheduled, planned time a flight is set to arrive at the gate
* arr_time = actual arrival time
* arr_delay = Difference in minutes between scheduled and actual arrival time
"""

'\n* year = year\n* month = month\n* day_of_month = day of month\n* day_of_week = \n    * 1 - monday\n    * 2 - tuesday\n    * 3 - wed\n    * 4 - thurs\n    * 5 - fri\n    * 6 - sat\n    * 7 - sun\n    * 9 - unknown\n* origin = origin airport\n* dest = destination airport\n* crs_dep_time = scheduled, planned time a flight is set to leave the gate\n* dep_time = actual departure time\n* dep_delay = Difference in minutes between scheduled and actual departure time\n* crs_arr_time = scheduled, planned time a flight is set to arrive at the gate\n* arr_time = actual arrival time\n* arr_delay = Difference in minutes between scheduled and actual arrival time\n'

In [33]:
# Shape of the dataset
df.shape

(113143, 12)

In [34]:
# Check data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113143 entries, 0 to 113142
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          113143 non-null  int64
 1   month         113143 non-null  int64
 2   day_of_month  113143 non-null  int64
 3   day_of_week   113143 non-null  int64
 4   origin        113143 non-null  object
 5   dest          113143 non-null  object
 6   crs_dep_time  113143 non-null  int64
 7   dep_time      112388 non-null  float64
 8   dep_delay     112386 non-null  float64
 9   crs_arr_time  113143 non-null  int64
 10  arr_time      112310 non-null  float64
 11  arr_delay     112063 non-null  float64
dtypes: float64(4), int64(6), object(2)
memory usage: 10.4+ MB

### Dataset checks to perform
* check missing values
* check duplicates
* check data type
* check unique values
* check statistics
* check categories

In [39]:
# Check for missing values
df.isna().sum()

year               0
month              0
day_of_month       0
day_of_week        0
origin             0
dest               0
crs_dep_time       0
dep_time         755
dep_delay        757
crs_arr_time       0
arr_time         833
arr_delay       1080
dtype: int64

***There are missing values in dep_time, dep_delay, arr_time, arr_delay***

In [40]:
# Check for duplicates
df.duplicated().sum()

0

***There are no duplicate values***

In [42]:
df.nunique()

year               1
month              1
day_of_month      30
day_of_week        7
origin           107
dest             107
crs_dep_time    1054
dep_time        1310
dep_delay        652
crs_arr_time    1197
arr_time        1419
arr_delay        680
dtype: int64

In [43]:
# Check the statistics of columns
df.describe()

,year,month,day_of_month,day_of_week,crs_dep_time,dep_time,dep_delay,crs_arr_time,arr_time,arr_delay
count,113143.0,113143.0,113143.000000,113143.000000,113143.000000,112388.000000,112386.000000,113143.000000,112310.000000,112063.000000
mean,2025.0,6.0,15.528305,3.980388,1351.760622,1352.279425,13.918655,1504.726656,1471.754243,9.043895
std,0.0,0.0,8.651941,2.086546,511.427707,531.238166,53.620285,537.047241,569.565061,55.167332
min,2025.0,6.0,1.000000,1.000000,8.000000,1.000000,-49.000000,1.000000,1.000000,-67.000000
25%,2025.0,6.0,8.000000,2.000000,910.000000,905.000000,-5.000000,1110.000000,1044.000000,-13.000000
50%,2025.0,6.0,16.000000,4.000000,1330.000000,1332.000000,-1.000000,1535.000000,1519.000000,-4.000000
75%,2025.0,6.0,23.000000,6.000000,1810.000000,1820.000000,13.000000,1955.000000,1949.000000,13.000000
max,2025.0,6.0,30.000000,7.000000,2359.000000,2400.000000,1721.000000,2359.000000,2400.000000,1738.000000

**Insight**
* Means of crs_dep_time and dep_time are close to each other
* Mean time of dep_delay is greater than the mean time of arr_delay
* Standard deviation of dep_delay and arr_delay are close to each other

In [48]:
# Categories in year, month, day_of_month, day_of_week
cols = ["year", "month", "day_of_month", "day_of_week", "origin", "dest"]

for i in cols:
    print(i,":", df[i].unique())

year : [2025]
month : [6]
day_of_month : [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30]
day_of_week : [7 1 2 3 4 5 6]
origin : ['ABQ' 'ACV' 'ANC' 'ATL' 'AUS' 'BFL' 'BLI' 'BNA' 'BOI' 'BOS' 'BUF' 'BUR'
 'BWI' 'BZN' 'CLD' 'CLE' 'CLT' 'CMH' 'CVG' 'DAL' 'DCA' 'DEN' 'DFW' 'DSM'
 'DTW' 'ELP' 'EUG' 'EWR' 'FAT' 'FCA' 'FLL' 'GEG' 'HNL' 'HOU' 'IAD' 'IAH'
 'ICT' 'IND' 'JAC' 'JFK' 'KOA' 'LAS' 'LAX' 'LGB' 'LIH' 'MCI' 'MCO' 'MDW'
 'MEM' 'MFE' 'MFR' 'MIA' 'MKE' 'MRY' 'MSO' 'MSP' 'MSY' 'OAK' 'OGG' 'OKC'
 'OMA' 'ONT' 'ORD' 'OTH' 'PDX' 'PHL' 'PHX' 'PIT' 'PRC' 'PSC' 'PSP' 'PVU'
 'RDD' 'RDM' 'RDU' 'RNO' 'SAN' 'SAT' 'SBA' 'SBP' 'SCK' 'SEA' 'SFO' 'SGU'
 'SJC' 'SLC' 'SMF' 'SMX' 'SNA' 'STL' 'STS' 'SUN' 'TPA' 'TUL' 'TUS' 'XNA'
 'ASE' 'COS' 'FSD' 'IDA' 'SDF' 'SGF' 'CID' 'GRR' 'LIT' 'HDN' 'BIH']
dest : ['BUR' 'LAX' 'LGB' 'OAK' 'SAN' 'SFO' 'DEN' 'FAT' 'ONT' 'SBA' 'SJC' 'SMF'
 'SNA' 'DFW' 'PHX' 'ABQ' 'ATL' 'AUS' 'BNA' 'BOI' 'DAL' 'HOU' 'JFK' 'LAS'
 'MCI' 'MDW' 'PDX' 'RNO' 'SEA' 'SLC' 'STL' 'STS' 'ACV' 'BFL' 'MRY' 'PSP'
 'RDD' 'SBP' 'SCK' 'ORD' 'SMX' 'ANC' 'BLI' 'BOS' 'BUF' 'BWI' 'BZN' 'CLE'
 'CLT' 'CMH' 'CVG' 'DCA' 'DTW' 'ELP' 'EUG' 'EWR' 'FCA' 'FLL' 'GEG' 'HNL'
 'IAD' 'IAH' 'ICT' 'IND' 'JAC' 'KOA' 'LIH' 'MCO' 'MEM' 'MFE' 'MIA' 'MKE'
 'MSP' 'MSY' 'OGG' 'OKC' 'OMA' 'PHL' 'PIT' 'PRC' 'PSC' 'RDM' 'RDU' 'SAT'
 'SGU' 'SUN' 'TPA' 'TUL' 'TUS' 'XNA' 'CLD' 'MFR' 'ASE' 'MSO' 'OTH' 'DSM'
 'PVU' 'FSD' 'SDF' 'SGF' 'IDA' 'COS' 'CID' 'GRR' 'LIT' 'HDN' 'BIH']